@media screen and (min-width: 1700px){
  .content{
    margin:50px auto;
    max-width:1500px;
  }
}

@media screen and (max-width: 1400px){
  .content .padding{
    padding:170px 240px 0px 240px;
  }
  .content p{
    margin-bottom:170px;
  }
}

@media screen and (max-width: 1340px){
  .content .padding{
    padding:130px 200px 0px 200px;
  }
  .content p{
    margin-bottom:130px;
  }
  .content .graph{
    height:350px;
  }
}

@media screen and (max-width: 1280px){
  .content .padding{
    padding:110px 160px 0px 160px;
  }
  .content p{
    margin-bottom:110px;
  }
  .content .graph{
    height:320px;
  }
}

@media screen and (max-width: 1220px){
  .content .padding{
    padding:110px 120px 60px 120px;
  }
  .content p{
    margin-bottom:110px;
  }
  .content .graph{
    display:none;
  }
  
  .whatido .explanation{
    font-size:19px;
    line-height:32px;
  }
}

@media screen and (max-width: 1150px){
  .content{
    margin:50px 70px;
  }
  
  .whatido{
    width:842px;
    margin:95px auto;
  }
  .whatido .explanation{
    margin-left:42px;
  }
  .whatido.left .explanation {
    margin:0px 42px 0px 0px;
  }
  
  .whatido .window{
    width:350px;
  }
  .window .screen{
    height:580px;
  }
  .window .screen .bar{
    height:35px;
  }
  .window .screen .profile{
    margin:10px 0px;
  }
  .window .screen .profile .image{
    height:100px;
    width:100px;
  }
  .window .screen .profile .image::after{
    height:100px;
    width:100px;
  }
  .window .screen .tile{
    height:95px;
  }
  
  .whatido .servers{
    width:350px;
  }
  .server .body{
    padding:18px;
  }
  .server .body .button{
    width:22px;
    height:22px;
  }
}

@media screen and (max-width: 1070px){
  .header h1{
    font-size:95px;
    letter-spacing:6px;
    
    margin:0px 0px 10px 0px;
  }
  .header h2{
    font-size:26px;
  }
  .header h2 span{
    padding:5px 24px;
    margin:0px 9px;
  }
  
  .header .scroll{
    width:60px;
    height:60px;
    margin-left:-30px;
  }
  
  .content{
    font-size:18px;
    line-height:31px;
  }
  .content .padding{
    padding:110px 100px 60px 100px;
  }
  
  .employer .table{
    font-size:14px;
    line-height:21px;
  }
  
  .employer h1{
    font-size:12px;
  }
  .employer h2{
    font-size:16px;
    margin:4px 0px;
  }
  .employer h3{
    font-size:14px;
  }
  .employer h4{
    font-size:14px;
    line-height:19px;
  }
  
  .employer img{
    width:70px;
    height:70px;
  }
  .employer img.rounded{
    border-radius:22px;
  }
  
  .whatido{
    width:792px;
  }
  .whatido .explanation{
    font-size:17px;
    line-height:29px;
    
    width:400px;
  }
  
  .blurbs{
    max-width:900px;
  }
  .blurbs .blurb{
    font-size:14px;
    line-height:27px;
  }
  .blurbs .blurb .icon{
    height:50px;
  }
}

@media screen and (max-width: 1030px){
  .content{
    margin:45px 60px;
  }
  .content .padding{
    padding:100px 90px 50px 90px;
  }
  .content p{
    margin-bottom:100px;
  }
}

@media screen and (max-width: 985px){
  .content{
    margin:30px 20px;
  }
  .content .padding{
    padding:100px 100px 50px 100px;
  }
}

@media screen and (max-width: 885px){
  .content .padding{
    padding:100px 80px 50px 80px;
  }
  
  .header .scroll{
    bottom:15px;
  }
  
  .whatido{
    width:662px;
    margin:80px auto;
  }
  .whatido .explanation{
    width:320px;
    
    font-size:16px;
    line-height:26px
  }
  .whatido .explanation h1{
    font-size:34px;
    padding:12px 18px;
    margin:16px 0px;
  }
  .whatido .explanation h2{
    font-size:24px;
  }
  
  .whatido .window{
    width:300px;
  }
  .window .screen{
    height:480px;
  }
  
  .whatido .servers{
    width:300px;
  }
  .servers .server .body{
    padding:15px;
  }
  .servers .server .body .button{
    width:20px;
    height:20px;
  }
}

@media screen and (max-width: 840px){
  .content{
    font-size:17px;
  }
  .content .padding{
    padding:100px 60px 50px 60px;
  }
  
  .header .scroll{
    width:40px;
    height:40px;
    margin-left:-20px;
    
    opacity:0.35;
  }
}

@media screen and (max-width: 780px){
  .header h1{
    font-size:88px;
    
    margin:0px 0px 10px 0px;
  }
  .header h2{
    font-size:24px;
  }
  .header h2 span{
    padding:4px 22px;
    margin:0px 8px;
  }
  
  .content .padding{
    padding:80px 40px 30px 40px;
  }
  .content p{
    margin-bottom:80px;
  }
}

@media screen and (max-width: 735px){
  .header{
    height:auto;
    
    padding:70px 0px;
    background:rgba(0,0,0,0.2);
  }
  .header .center{
    display:block;
  }
  .header h1{
    font-size:40px;
    letter-spacing:4px;
    margin-bottom:2px;
  }
  .header h2{
    display:block;
    font-size:18px;
  }
  .header h2 span{
    display:none;
  }
  
  .header .scroll{
    display:none;
  }
  
  .content{
    margin:0px;
    border-radius:0px;

    background:none;
  }
  .content .padding{
    padding:0px;
  }
  .content p{
    font-size:16px;
    
    margin:70px 110px;
    
    text-align:center;
    color:rgba(255,255,255,0.65);
  }
  .content p pink{
    color:rgb(255,255,255);
    font-weight:700;
  }
  
  .employer{
    margin:6px auto;
    max-width:600px;
    padding:0px;
    
    background:rgb(255,255,255);
    border-radius:4px;
    overflow:hidden;
  }
  .employer:hover{
    background:rgb(255,255,255);
  }
  
  .employer img{
    width:50px;
    height:50px;
    
    margin-right:6px;
    
    padding:4px;
  }
  .employer img.rounded{
    border-radius:13px;
  }
  
  .employer .table{
    line-height:18px;
    padding:12px 6px;
  }
  .employer h2{
    margin:0px;
  }
  .employer h3{
    display:block;
    padding:0px;
    margin:0px 0px 4px 0px;
  }
  .employer h4{
    display:none;
  }
  .employer .mobile-body{
    display:block;
  
    padding:20px;
    background:rgb(238,238,238);
  
    font-size:14px;
    line-height:20px;
    
    border-top: 1px solid rgb(228, 228, 228);
  }
  
  .not-mobile{
    display:none;
  }
  
  .whatido{
    background:rgba(0,0,0,0.2);
    
    width:auto;
    margin:50px 0px 5px 0px;
    padding:30px;
  }
  .whatido .servers,
  .whatido .window{
    display:none;
  }
  .whatido .explanation{
    margin:0px !important;
    width:auto;
    
    font-size:14px;
  }
  .whatido .explanation h1{
    font-size:28px;
    padding:10px 16px;
    margin:10px 0px;
    letter-spacing:5px;
  }
  .whatido .explanation h2{
    font-size:18px;
  }
  .whatido.left{
    margin-top:5px;
  }

  .blurbs{
    margin:0px auto;
    max-width:500px;
    
    padding:50px 0px;
  }
  .blurbs .blurb .icon{
    height:35px;
  }
  .blurbs .blurb p{
    display:none;
  }
}

@media screen and (max-width: 635px){
  .employer{
    max-width:500px;
  }
  
  .blurbs{
    max-width:400px;
  }
}

@media screen and (max-width: 540px){
  .content p{
    margin:70px 20px;
  }
  
  .employer{
    max-width:none;
    margin:6px;
  }

  .blurbs{
    max-width:none;
    margin:0px 40px;
  }
}