img{border:none;}
*{
  outline:none;
  cursor:inherit;
  font-family:inherit;
  font-size:inherit;
	font-weight:inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding:0px;
  margin:0px;
}
a{font:inherit;color:inherit;text-decoration:none;cursor:pointer;}
.clearFix{clear:both;}
iframe{margin:0px;padding:0px;border:none;display:block;width:100%;}


html, body{
  margin:0px;
  padding:0px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
	height:100%;
  min-height: 100% !important;
	width:100%;
}