@mixin layout-fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin layout-centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin layout-max-dimensions {
  width: 100%;
  height: 100%;
}

@mixin layout-horizontal {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@mixin layout-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@mixin layout-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin layout-vertical-center {
  align-items: center;
  display: flex;
}

@mixin layout-horizontal-center {
  display: flex;
  justify-content: center;
}
