/* color palette */
:root {
  --colors-white: #ffffff;
  --colors-black: #181818;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--colors-white);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--colors-black);
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0;
  line-height: 0;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
