@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

@mixin fonts-clear {
  font-size: 0;
  line-height: 0;
}

@mixin _fonts-base {
  -webkit-font-smoothing: antialiased;
}

@mixin fonts-hero {
  @include _fonts-base;

  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 160px;
  font-weight: 600;
  line-height: 200px;
  text-transform: uppercase;
}

@mixin fonts-navbar {
  @include _fonts-base;

  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
