@mixin layout-fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin layout-horizontal {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@mixin layout-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@mixin layout-center{
  justify-content: center;
  text-align: center;
}
